:root {
    --navy:#0C0552;
    --gray:#717079;
}

h2 {
    color:var(--navy);
}

.body {
    margin-left:35%;
    margin-right:35%;
    font-family:'Oswald', sans-serif;
}

.stats {
    display:flex;
    gap:50px;
}

.stats-list {
    display:inline-block;
    list-style:none;
    padding:0px;
    flex:1;
    color:var(--gray);
}

.stats-numbers {
    display:inline-block;
    list-style:none;
    padding-left:20px;
    color:var(--gray);
}

.offense {
    flex:0 0 auto;
}

.defense {
    flex:0 0 auto;
}

.work {
    flex:0 0 auto;
}

.chart-container {
    display:flex;
    gap:100px;
}